apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app
  name: app
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: app
 
  template:
    metadata:
      
      labels:
        app: app
    spec:
      containers:
      - image: "{{ image }}:pr-{{ PULL_REQUEST_ID }}"
        name: app
        ports:
        - containerPort: {{ containerport_app }}
