apiVersion: v1
kind: Service
metadata:
  name: app
  namespace: {{ namespace }}
  
  labels:
   app: app
spec:
  type: NodePort
  ports:
  - port: {{ port_app }}
    targetPort: {{ targetport_app }}
    protocol: TCP
    nodePort: {{ NODE_PORT }}
  selector:
    app: app

